/*Fondo*/
body {
    font-family: 'Cossette Texte', sans-serif;
    background-image: url('img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.franja-blanca {
    text-align: center;
    background-color:rgba(255, 255, 255, 0.8); 
    width: 90%;
    padding: 15px 20px; 
    border-radius: 15px;
    max-width: 1000px; 
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
 
.franja-blanca h1 { font-size: 38px; margin: 0px; }
.franja-blanca h2 { font-size: 22px; margin: 5px 0; }
.sub-info { font-style: italic; margin-bottom: 0 !important; color:#000; }

.contenedor-exploradores {
    margin: 20px 0;
}

.img-exploradores {
    max-width: 200px; 
    height: auto;
}

.grid-simetrico {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    width: 90%;
    max-width: 1100px;
    gap: 30px;
    justify-items: center;
}

/* Misiones*/
.contenedor-misiones, .contenedor-contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.contenedor-contacto {
    margin-top: 50px; 
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-contacto-solo {
    width: 250px !important;
    background-color: #3498db !important; 
    font-size: 18px !important;
}

.btn-contacto-solo:hover {
    background-color: #ed4e9e !important; 
    color: #fff !important;
}

.mision-item {
    width: 100% !important; 
    max-width: 200px; 
}

.personaje-wrapper {
    height: 150px; 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 15px;
}

.mision-item img {
    max-height: 140px;
    width: auto;
    transition: transform 0.3s ease;
}

.mision-item:hover img {
    transform: translateY(-10px);
}

/* Botones*/
.btn-mision {
    background-color: #ed4e9e;
    color: white;
    border: none;
    padding: 10px 8px;
    border-radius: 25px;
    font-family: 'Cossette Texte', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-mision:hover {
    background-color: #FFFF00; 
    color: #000000;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.body-mision {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo-reconocimiento { background-image: url('img/fondo_reconocimiento.jpg'); }
.fondo-origen { background-image: url('img/fondo_origen.jpg'); }
.fondo-formacion { background-image: url('img/fondo_formacion.jpg'); }
.fondo-logros { background-image: url('img/fondo_logros.jpg');}
.fondo-actualidad {background-image: url('img/fondo_actualidad.jpg');}
.fondo-contacto { background-image: url('img/fondo_contacto.jpg'); }

.btn-home {
    background-color: #3498db !important;
    color: #fff !important;
}

.btn-home:hover {
    background-color: #2980b9 !important;
    color: #fff !important;
}

/* Inicio*/
body.inicio {
    background-image: url('img/fondo.jpg');
    background-size: cover;
}

/* Reconocimiento */
body.fondo-reconocimiento {
    background-image: url('img/fondo_reconocimiento.jpg');
    background-size: cover;
    background-position: center;
}

/* Lectura*/
.cuadro-lectura {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 35px;
    border-radius: 30px;
    max-width: 700px;
    margin: 40px 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    text-align: left;
}

.contenido-texto p {
    color: #000;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.titulo-mision {
    text-align: center;
    color: #000;
    font-size: 32px;
    margin-bottom: 20px;
}

/* Estetica de botones de cambio de mision */
.navegacion-mision {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;
    width: 100%;
}

.navegacion-mision .btn-mision {
    text-decoration: none;
    padding: 0px 20px;
    border-radius: 25px;
    font-family: 'Cossette Texte', sans-serif;
    font-weight: bold;
    font-size: 15px;
    min-width: 140px;
    height: 45px;
    text-align: center;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.btn-retroceder {
    background-color: #555;
    color: #fff !important;
}

.btn-retroceder:hover {
    background-color: #555;
    color: #fff !important;
}

.btn-avanzar {
    background-color: #ed4e9e;
    color: #fff !important;
}

.btn-avanzar:hover {
    background-color: #FFFF00;
    color: #000 !important;
}

.btn-instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) !important;
    color: white !important;
    width: 250px !important;
    border: none;
}

.btn-instagram:hover {
    transform: scale(1.1) !important;
    box-shadow: 0 8px 15px rgba(204, 35, 102, 0.4) !important;
}

.link-correo {
    color: #ed4e9e;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

